name: Test File Extraction

on: [push]

jobs:
  root-file:
    runs-on: ubuntu-latest
    name: Extract Example File From Root of Built Image
    steps:
      - uses: actions/checkout@v3.4.0 
      - run: docker build -t example:${{ github.sha }} ./.github/tests
      - uses: ./
        id: extract
        with:
          image: example:${{ github.sha }}
          path: /files/001.txt
      - run: test -e ${{ steps.extract.outputs.destination }}/001.txt || exit 1
  nested-file:
    runs-on: ubuntu-latest
    name: Extract Nexted Example File From Built Image
    steps:
      - uses: actions/checkout@v3.4.0 
      - run: docker build -t example:${{ github.sha }} ./.github/tests
      - uses: ./
        id: extract
        with:
          image: example:${{ github.sha }}
          path: /files/y/006.txt
      - run: test -e ${{ steps.extract.outputs.destination }}/006.txt || exit 1
