name: Test Cross Platform Support

on: [push]

jobs:
  linux:
    runs-on: ubuntu-latest
    name: Extract Example File on Ubuntu
    steps:
      - uses: actions/checkout@v2
      - run: docker build -t example:${{ github.sha }} ./.github/tests
      - uses: ./
        id: extract
        with:
          image: example:${{ github.sha }}
          path: /files/001.txt
      - run: test -e ${{ steps.extract.outputs.destination }}/001.txt || exit 1
  macos:
    runs-on: macos-latest
    name: Extract Example File on macOS
    steps:
      - uses: actions/checkout@v2
      - name: Install Docker Machine
        run: |
          brew install docker docker-machine
          docker-machine create --driver virtualbox default
          eval $(docker-machine env default)
          env | grep DOCKER >> $GITHUB_ENV
      - run: docker build -t example:${{ github.sha }} ./.github/tests
      - uses: ./
        id: extract
        with:
          image: example:${{ github.sha }}
          path: /files/001.txt
      - run: test -e ${{ steps.extract.outputs.destination }}/001.txt || exit 1
  windows:
    runs-on: windows-latest
    name: Extract Example File on Windows
    steps:
      - uses: actions/checkout@v2
      - run: docker run --name test mcr.microsoft.com/windows/nanoserver:1909-KB5003169 
      - uses: ./
        id: extract
        with:
          image: test
          path: C:\Windows\explorer.exe
      - run: IF NOT EXISTS ${{ steps.extract.outputs.destination }}/explorer EXIT 1
